.calendarcontainer{
    display:flex;
    flex-direction: row;
    
}
.eventlist{
    display:flex;
    flex-direction: column;
    margin-left: 5%;
}
h1{
    text-align:center;
}
.school{
    color: rgb(106, 207, 106);
}
.outside{
    color: rgb(214, 126, 126);
}

li{
    font-size: 20px;
}

.white{
    color:var(--negative-txt-color);
font-weight: lighter;
}

.legend{
    display:flex;
    justify-content: row;
    font-size: 8px;
}
.legend h1{
    font-weight: lighter;
    margin-left: 2%;
}

@media (max-width:500px) {
    .calendarcontainer,.legend{
        flex-direction: column;
        
    }

    
}