header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}

.navbar {
  width: 100vw;
}

.navbar.top {
  padding: 1rem;
  background-color: var(--bg-color);
  justify-content: left;
  gap: 1.7rem;
}

.navbar.bottom {
  padding: 0.2rem 7.2rem;
  background-color: var(--txt-color);
  justify-content: space-between;
}

@media only screen and (max-width: 750px) {
  .navbar.bottom {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.nav-links {
  list-style: none;
  gap: 1rem;

  align-items: center;
}

.nav-link > a {
  font-weight: 500;
  text-decoration: none;
  transition: opacity 0.2s;
}

.nav-link > .img-link {
  font-size: 1.3rem;
}

.navbar.top .nav-link > a {
  color: var(--txt-color);
}

.navbar.bottom .nav-link > a {
  color: var(--negative-txt-color);
}

.navbar.top .nav-link > a:hover {
  opacity: 0.6;
}

.navbar.bottom .nav-link > a:hover {
  opacity: 0.8;
}

.navbar.bottom .logo {
  height: 6rem;
}
