*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.flex.f-row {
  flex-direction: row;
}

.flex.f-col {
  flex-direction: column;
}

.app {
  overflow-x: hidden;
}


