:root {
  --bg-color: #f5f7fa;
  --txt-color: #000000;
  --negative-txt-color: #ffffff;
  --highlight-color: #2dc5f4;

  font-size: 14px;
}

body {
  /* 
  
  Main font: Montserrat

  Available weights:
  Light - 300
  Regualr - 400
  Medium - 500
  Bold - 700
  
  */

  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
